@model BusniessLiabilitiesCreateViewModel

@{
    ViewBag.Title = "All Busniess Liabilities";
}

<div class="mtop20">
    @*<a asp-controller="BusniessLiabilities" asp-action="BusniessLiabilities" class="btn btn-success">Add New Busniess Liability</a>*@
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#createBusniessLiabilityModel">Add New Busniess Liability</button>
</div>


<div class="mtop20">
    <table id="tblBusniessLiability" class="table table-bordered table-hover table-striped">
        <thead class="thead-light">
            <tr>
                <th id="busniessLiabilityId">Busniess Liability ID</th>
                <th id="lender" class="hideCol hideHideCol_2">Lender</th>
                <th id="origionalLoanAmount" class="hideCol hideHideCol_3">Origional Loan Amount</th>
                <th id="outstandingBalance" class="hideCol hideHideCol_3">Outstanding Balance</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @if (Model._busniessLiabilities.Count() > 0)
            {
                @foreach (var busniessLiabilities in Model._busniessLiabilities)

                {
                    var tm = "#myModal" + busniessLiabilities.BusniessLiabilityId;
                    var mid = "myModal" + busniessLiabilities.BusniessLiabilityId;
                    <tr>
                        <td>@busniessLiabilities.BusniessLiabilityId</td>
                        <td>@busniessLiabilities.Lender</td>
                        <td>@busniessLiabilities.OrigionalLoanAmount</td>
                        <td>@busniessLiabilities.OutstandingBalance</td>
                        <td><a asp-controller="BusniessLiabilities" asp-action="EditBusniessLiabilities" class="btn btn-primary" asp-route-id="@busniessLiabilities.BusniessLiabilityId">Edit</a></td>

                        <td>

                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="@tm">
                                Delete
                            </button>


                            <div class="modal fade" id="@mid" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>*@
                                            <h4 class="modal-title text-center" id="myModalLabel">Delete Property</h4>
                                            <button type="button" class="close " data-dismiss="modal" aria-hidden="true">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure want to delete this Busniess Liability?
                                        </div>
                                        <div class="modal-footer">

                                            <a asp-controller="BusniessLiabilities" asp-action="DeleteBusniessLiabilities" asp-route-Id="@busniessLiabilities.BusniessLiabilityId" id="deleteBtn" class="btn bg-danger mr-1">Delete</a>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    @*Add New Busniess Liability Modal*@

    <div class="modal fade bd-example-modal-lg" id="createBusniessLiabilityModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-lg" role="form">
            <div class="modal-content">
                <div class="modal-header">
                    @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>*@
                    <h4 class="modal-title text-center" id="myModalLabel">Add Busniess Liability</h4>
                    <button type="button" class="close " data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">



                    Busniess Liability



                </div>
                <div class="modal-footer">

                    <a asp-controller="BusniessLiabilities" asp-action="BusniessLiabilities" id="AddPropertyBtn" class="btn btn-primary mr-1">Save</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>



</div>
