@model KeyPrincipalsCreateViewModel

@{
    ViewBag.Title = "Busniess All Key Principals";
}

<div class="mtop20">
    @*<a asp-controller="BusniessKeyPrincipals" asp-action="KeyPrincipals" class="btn btn-success">Add New Key Principal</a>*@
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#createKeyPrincipalModal">Add New Key Principal</button>
</div>



<div class="mtop20">
    <table id="tblBusniessKeyPrincipals" class="table table-bordered table-hover table-striped">
        <thead class="thead-light">
            <tr>
                <th id="keyPrincipalId">Key Principal Id</th>
                <th id="firstName" class="hideCol hideHideCol_2">First Name</th>
                <th id="position" class="hideCol hideHideCol_3">Position</th>
                <th id="percentageShareholding" class="hideCol hideHideCol_3">Percentage Share Holding</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @if (Model._keyPrincipals.Count() > 0)
            {
                @foreach (var keyPrincipals in Model._keyPrincipals)

                {
                    var tm = "#myModal" + keyPrincipals.KeyPrincipalsId;
                    var mid = "myModal" + keyPrincipals.KeyPrincipalsId;
                    <tr>
                        <td>@keyPrincipals.KeyPrincipalsId</td>
                        <td>@keyPrincipals.FirstName</td>
                        <td>@keyPrincipals.Position</td>
                        <td>@keyPrincipals.PercentageShareholding</td>

                        <td><a asp-controller="BusniessKeyPrincipals" asp-action="EditKeyPrincipals" style="width:80px;" class="btn btn-primary btn-sm" asp-route-id="@keyPrincipals.KeyPrincipalsId">Edit</a></td>

                        <td>

                            <button type="button" style="width:80px;" class="btn btn-danger btn-sm" data-toggle="modal" data-target="@tm">
                                Delete
                            </button>


                            <div class="modal fade" id="@mid" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>*@
                                            <h4 class="modal-title text-center" id="myModalLabel">Delete Key Principal</h4>
                                            <button type="button" class="close " data-dismiss="modal" aria-hidden="true">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure want to delete this Key Principal?
                                        </div>
                                        <div class="modal-footer">

                                            <a asp-controller="BusniessKeyPrincipals" asp-action="DeleteKeyPrincipal" asp-route-Id="@keyPrincipals.KeyPrincipalsId" id="deleteBtn" class="btn bg-danger mr-1">Delete</a>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>


    @*Add New Key Principal Modal*@

    <div class="modal fade bd-example-modal-lg" id="createKeyPrincipalModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-lg" role="form">
            <div class="modal-content">
                <div class="modal-header">
                    @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>*@
                    <h4 class="modal-title text-center" id="myModalLabel">Add Busniess Key principal</h4>
                    <button type="button" class="close " data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">



                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="@Model.keyPrincipals.KeyPrincipalsId">
                            ID <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <input type="text" asp-for="@Model.keyPrincipals.KeyPrincipalsId" id="keyPrincipalsId" name="keyPrincipalsId" required="required" class="form-control ">
                        </div>
                    </div>

                    <div class="item form-group">
                        <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="@Model.keyPrincipals.Title">
                            Title<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <input type="text" asp-for="@Model.keyPrincipals.Title" id="title" name="title" required="required" class="form-control ">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label asp-for="@Model.keyPrincipals.FirstName" class="col-form-label col-md-3 col-sm-3 label-align">
                            First Name <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <input type="text" asp-for="@Model.keyPrincipals.FirstName" id="firstName" name="firstName" required="required" class="form-control">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label asp-for="@Model.keyPrincipals.MiddleName" class="col-form-label col-md-3 col-sm-3 label-align">Middle Name / Initial</label>
                        <div class="col-md-6 col-sm-6 ">
                            <input asp-for="@Model.keyPrincipals.MiddleName" id="middle-name" name="middle-name" class="form-control" type="text">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label asp-for="@Model.keyPrincipals.Surname" class="col-form-label col-md-3 col-sm-3 label-align"> Surname</label>
                        <div class="col-md-6 col-sm-6 ">
                            <input asp-for="@Model.keyPrincipals.Surname" id="surname" name="surname" class="form-control" type="text">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label asp-for="@Model.keyPrincipals.Position" class="col-form-label col-md-3 col-sm-3 label-align">Position (*MultiSelect)</label>
                        <div class="col-md-6 col-sm-6 ">
                            <select asp-for="@Model.keyPrincipals.Position" id="position" name="position" class=" form-control" multiple>
                                <option>
                                    Director & Shareholder
                                </option>
                                <option>
                                    Director
                                </option>
                                <option>
                                    Shareholder
                                </option>
                                <option>
                                    Partner
                                </option>
                                <option>
                                    Guarantor
                                </option>

                            </select>
                        </div>
                    </div>

                    <div class="item form-group">
                        <label asp-for="@Model.keyPrincipals.PercentageShareholding" class="col-form-label col-md-3 col-sm-3 label-align">
                            Percentage Shareholding
                        </label>
                        <div class="col-md-6 col-sm-6 ">
                            <input asp-for="@Model.keyPrincipals.PercentageShareholding" id="percentageShareholding" name="percentageShareholding" class="form-control" type="text">
                        </div>
                    </div>



                </div>
                <div class="modal-footer">

                    <a asp-controller="BusniessKeyPrincipals" asp-action="AllKeyPrincipals" id="AddPropertyBtn" class="btn btn-primary mr-1">Save</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>



</div>
