@model AppBusniessFinanceSecurityDetails

@*Add New Security Detail Modal*@

<div class="modal fade bd-example-modal-lg" id="AddSecurityDetailModalBusniess" tabindex="-1"  aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg" >
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center" id="myModalLabel">Add New Security Busniess</h4>
                <button type="button" class="close " data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>

            <div class="modal-body" id="ModalBody">
                
                
                    <form action="AddSecurityDetail" id="AddSecurityDetailform" name="AddSecurityDetailform">

                        <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="@Model.Notes">
                                Notes <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                                <input type="text" asp-for="@Model.Notes" id="notes" name="notes" required="required" class="form-control ">
                            </div>
                        </div>

                        <div class="item form-group">
                <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="@Model.LegalChargeOverProperty">
                    If Legal charge over property <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 ">
                    <select asp-for="@Model.LegalChargeOverProperty" id="legalChargeOverProperty" name="legalChargeOverProperty" class=" form-control">
                        <option>
                            NO
                        </option>
                        <option>
                            YES
                        </option>
                    </select>
                </div>
            </div>

            <div class="item form-group">
                <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="@Model.SecurityType">
                    Security Type<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 ">
                    <select asp-for="@Model.SecurityType" id="securityType" name="securityType" class=" form-control">
                        <option>
                            Residential
                        </option>
                        <option>
                            Commercial
                        </option>
                        <option>
                            Semi-commercial
                        </option>
                    </select>
                </div>
            </div>
            <div class="item form-group">
                <label asp-for="@Model.PropertyType" class="col-form-label col-md-3 col-sm-3 label-align">
                    Property Type <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 ">
                    <input type="text" asp-for="@Model.PropertyType" id="propertyType" name="propertyType" required="required" class="form-control">
                </div>
            </div>
            <div class="item form-group">
                <label asp-for="@Model.NameOfPropertyOwner" class="col-form-label col-md-3 col-sm-3 label-align">
                    Name Of Property Owner
                </label>
                <div class="col-md-6 col-sm-6 ">
                    <input asp-for="@Model.NameOfPropertyOwner" id="nameOfPropertyOwner" name="nameOfPropertyOwner" class="form-control" type="text">
                </div>
            </div>
            <div class="item form-group">
                <label asp-for="@Model.Tenure" class="col-form-label col-md-3 col-sm-3 label-align">
                    Tenure
                </label>
                <div class="col-md-6 col-sm-6 ">
                    <select asp-for="@Model.Tenure" id="Tenure" name="Tenure" class=" form-control">
                        <option>
                            Freehold
                        </option>
                        <option>
                            Leasehold
                        </option>
                    </select>
                </div>
            </div>
            <div class="item form-group">
                <label asp-for="@Model.YearsRemainingOnLeaseIfLeaseHold" class="col-form-label col-md-3 col-sm-3 label-align">
                    Years Remaining On Lease(If Leasehold)
                </label>
                <div class="col-md-6 col-sm-6 ">
                    <input asp-for="@Model.YearsRemainingOnLeaseIfLeaseHold" id="YearsRemainingOnLeaseIfLeaseHold" name="percentageShareholding" class="form-control" type="text">
                </div>
            </div>

            <div class="item form-group">
                <label asp-for="@Model.PropertyValue" class="col-form-label col-md-3 col-sm-3 label-align">
                    Property Value
                </label>
                <div class="col-md-6 col-sm-6 ">
                    <input asp-for="@Model.PropertyValue" id="propertyValue" name="propertyValue" class="form-control" type="text">
                </div>
            </div>

            <div class="item form-group">
                <label asp-for="@Model.OriginalPurchasePrice" class="col-form-label col-md-3 col-sm-3 label-align">
                    Purchase Price/Original Purchase Price
                </label>
                <div class="col-md-6 col-sm-6 ">
                    <input asp-for="@Model.OriginalPurchasePrice" id="originalPurchasePrice" name="originalPurchasePrice" class="form-control" type="text">
                </div>
            </div>

            <div class="item form-group">
                <label asp-for="@Model.AddressForPropertyOfSecurity" class="col-form-label col-md-3 col-sm-3 label-align">
                    Address for property to be used as security
                </label>
                <div class="col-md-6 col-sm-6 ">
                    <input asp-for="@Model.AddressForPropertyOfSecurity" id="addressForPropertyOfSecurity" name="addressForPropertyOfSecurity" class="form-control" type="text">
                </div>
            </div>
            <div class="item form-group">
                <label asp-for="@Model.SecondLineAddress" class="col-form-label col-md-3 col-sm-3 label-align">
                    Second Line Address
                </label>
                <div class="col-md-6 col-sm-6 ">
                    <input asp-for="@Model.SecondLineAddress" id="secondLineAddress" name="secondLineAddress" class="form-control" type="text">
                </div>
            </div>
            <div class="item form-group">
                <label asp-for="@Model.City" class="col-form-label col-md-3 col-sm-3 label-align">
                    City
                </label>
                <div class="col-md-6 col-sm-6 ">
                    <input asp-for="@Model.City" id="city" name="city" class="form-control" type="text">
                </div>
            </div>
            <div class="item form-group">
                <label asp-for="@Model.PostCode" class="col-form-label col-md-3 col-sm-3 label-align">
                    Post Code
                </label>
                <div class="col-md-6 col-sm-6 ">
                    <input asp-for="@Model.PostCode" id="PostCode" name="PostCode" class="form-control" type="text">
                </div>
            </div>

                    </form>
                
            </div>

            <div class="modal-footer">
                @*data-save="modal"*@
                @*<a asp-controller="AppBusniessFinance" action="post" asp-action="AddSecurityDetail" id="AddPropertyBtn" class="btn btn-primary mr-1">Save ASP</a>*@
                <button type="button" class="btn btn-primary" data-save="modal" >Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>
