@model AppBusniessFinance

@{
    ViewBag.Title = "App Busniess Finance";
}
<div class="" role="main">



    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Busniess Finance Application</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Loan Details</h2>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <form id="AppBusniessFinanceForm" data-parsley-validate class="form-horizontal form-label-left" asp-controller="AppBusniessFinance" asp-action="AppBusniessFinance" method="post">

                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="TypeOfFinance">
                                    Type Of Finance
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <select asp-for="TypeOfFinance" id="typeOfFinance" name="typeOfFinance" class="form-control">
                                        <option>
                                            Business loan
                                        </option>
                                        <option>
                                            Invoice finance
                                        </option>
                                        <option>
                                            Trade finance
                                        </option>
                                        <option>
                                            Asset finance
                                        </option>
                                        <option>
                                            Revolving credit facility
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="item form-group">
                                <label asp-for="AmountOfFinance" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Amount Of Finance <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input type="text" asp-for="AmountOfFinance" id="amountOfFinance" name="amountOfFinance" required="required" class="form-control">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="RepaymentTermMonths" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Repayment Term (Months)
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="RepaymentTermMonths" id="repaymentTermMonths" name="repaymentTermMonths" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="BrokerFee" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Broker Fee
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="BrokerFee" id="brokerFee" name="brokerFee" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="SecurityOffered" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Security Offered
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <select asp-for="SecurityOffered" id="securityOffered" name="securityOffered" class="form-control">
                                        <option>
                                            Personal guarantee only
                                        </option>
                                        <option>
                                            Debenture only
                                        </option>
                                        <option>
                                            Personal guarantee and Debenture
                                        </option>
                                        <option>
                                            Legal charge over property
                                        </option>
                                        <option>
                                            Charge over asset
                                        </option>
                                        <option>
                                            None
                                        </option>
                                    </select>
                                </div>
                            </div>


                            @*Security Details table will come here*@
                            <div class="x_title">
                                <h2>Security Details</h2>

                                <div class="clearfix"></div>
                            </div>

                            @*Related To partial View*@
                            <div id="PlaceHolderHere"></div>


                            <div class="mtop20">
                                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#createSecurityDetailModal">Add New Security Details</button>
                                @*Razor Modal POP Button*@
                                <button type="button" class="btn btn-success" data-toggle="ajax-modal" id="AddSecuritybtn" name="AddSecuritybtn"
                                        data-target="#AddSecurityDetailModalBusniess" data-url="@Url.Action("AddSecurityDetail")">
                                    Add Security Detail Razor
                                </button>
                            </div>

                            <div class="mtop20">
                                <table id="tblSecurityDetails" class="table table-bordered table-hover table-striped">
                                    <thead class="thead-light">
                                        <tr>
                                            <th id="id">Id</th>
                                            <th id="propertyType" class="hideCol hideHideCol_2">Property Type</th>
                                            <th id="pameOfPropertyOwner" class="hideCol hideHideCol_3">Name Of Property Owner</th>
                                            <th id="propertyvalue" class="hideCol hideHideCol_3">Property value</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if ((List<AppBusniessFinanceSecurityDetails>)ViewData["SecurityDetailsList"] != null)
                                        {
                                            @foreach (var securityDetails in (IEnumerable<AppBusniessFinanceSecurityDetails>)ViewData["SecurityDetailsList"])

                                            {
                                                var tm = "#myModal" + securityDetails.SecurityDetailsId;
                                                var mid = "myModal" + securityDetails.SecurityDetailsId;
                                                <tr>
                                                    <td>@securityDetails.SecurityDetailsId</td>
                                                    <td>@securityDetails.PropertyType</td>
                                                    <td>@securityDetails.NameOfPropertyOwner</td>
                                                    <td>@securityDetails.PropertyValue</td>

                                                    <td><a asp-controller="AppBusniessFinance" asp-action="EditSecuritydetail" class="btn btn-primary " asp-route-id="@securityDetails.SecurityDetailsId">Edit</a></td>

                                                    <td>

                                                        <button type="button" class="btn btn-danger " data-toggle="modal" data-target="@tm">
                                                            Delete
                                                        </button>

                                                        @*Delete Model for security detail*@
                                                        <div class="modal fade" id="@mid" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>*@
                                                                        <h4 class="modal-title text-center" id="myModalLabel">Delete Security Detail</h4>
                                                                        <button type="button" class="close " data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        Are you sure want to delete this Security?
                                                                    </div>
                                                                    <div class="modal-footer">

                                                                        <a asp-controller="AppBusniessFinance" asp-action="DeleteSecurityDetail" asp-route-Id="@securityDetails.SecurityDetailsId" id="deleteBtn" class="btn bg-danger mr-1">Delete</a>
                                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>


                                @*Add New Security Detail Modal*@

                                <div class="modal fade bd-example-modal-lg" id="createSecurityDetailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog  modal-lg" role="form">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title text-center" id="myModalLabel">Add New Security</h4>
                                                <button type="button" class="close " data-dismiss="modal" aria-hidden="true">&times;</button>
                                            </div>

                                            <div class="modal-body">

                                                <div class="item form-group">
                                                    <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="@Model.securityDetails[1].Notes">
                                                        Notes <span class="required">*</span>
                                                    </label>
                                                    <div class="col-md-6 col-sm-6 ">
                                                        <input type="text" asp-for="@Model.securityDetails[1].Notes" id="notes" name="notes" required="required" class="form-control ">
                                                    </div>
                                                </div>

                                                <div class="item form-group">
                                                    <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="@Model.securityDetails[1].LegalChargeOverProperty">
                                                        If Legal charge over property <span class="required">*</span>
                                                    </label>
                                                    <div class="col-md-6 col-sm-6 ">
                                                        <select asp-for="@Model.securityDetails[1].LegalChargeOverProperty" id="legalChargeOverProperty" name="legalChargeOverProperty" class=" form-control">
                                                            <option>
                                                                NO
                                                            </option>
                                                            <option>
                                                                YES
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="item form-group">
                                                    <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="@Model.securityDetails[1].SecurityType">
                                                        Security Type<span class="required">*</span>
                                                    </label>
                                                    <div class="col-md-6 col-sm-6 ">
                                                        <select asp-for="@Model.securityDetails[1].SecurityType" id="securityType" name="securityType" class=" form-control">
                                                            <option>
                                                                Residential
                                                            </option>
                                                            <option>
                                                                Commercial
                                                            </option>
                                                            <option>
                                                                Semi-commercial
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="item form-group">
                                                    <label asp-for="@Model.securityDetails[1].PropertyType" class="col-form-label col-md-3 col-sm-3 label-align">
                                                        Property Type <span class="required">*</span>
                                                    </label>
                                                    <div class="col-md-6 col-sm-6 ">
                                                        <input type="text" asp-for="@Model.securityDetails[1].PropertyType" id="propertyType" name="propertyType" required="required" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="item form-group">
                                                    <label asp-for="@Model.securityDetails[1].NameOfPropertyOwner" class="col-form-label col-md-3 col-sm-3 label-align">
                                                        Name Of Property Owner
                                                    </label>
                                                    <div class="col-md-6 col-sm-6 ">
                                                        <input asp-for="@Model.securityDetails[1].NameOfPropertyOwner" id="nameOfPropertyOwner" name="nameOfPropertyOwner" class="form-control" type="text">
                                                    </div>
                                                </div>
                                                <div class="item form-group">
                                                    <label asp-for="@Model.securityDetails[1].Tenure" class="col-form-label col-md-3 col-sm-3 label-align">
                                                        Tenure
                                                    </label>
                                                    <div class="col-md-6 col-sm-6 ">
                                                        <select asp-for="@Model.securityDetails[1].Tenure" id="Tenure" name="Tenure" class=" form-control">
                                                            <option>
                                                                Freehold
                                                            </option>
                                                            <option>
                                                                Leasehold
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="item form-group">
                                                    <label asp-for="@Model.securityDetails[1].YearsRemainingOnLeaseIfLeaseHold" class="col-form-label col-md-3 col-sm-3 label-align">
                                                        Years Remaining On Lease(If Leasehold)
                                                    </label>
                                                    <div class="col-md-6 col-sm-6 ">
                                                        <input asp-for="@Model.securityDetails[1].YearsRemainingOnLeaseIfLeaseHold" id="YearsRemainingOnLeaseIfLeaseHold" name="percentageShareholding" class="form-control" type="text">
                                                    </div>
                                                </div>

                                                <div class="item form-group">
                                                    <label asp-for="@Model.securityDetails[1].PropertyValue" class="col-form-label col-md-3 col-sm-3 label-align">
                                                        Property Value
                                                    </label>
                                                    <div class="col-md-6 col-sm-6 ">
                                                        <input asp-for="@Model.securityDetails[1].PropertyValue" id="propertyValue" name="propertyValue" class="form-control" type="text">
                                                    </div>
                                                </div>

                                                <div class="item form-group">
                                                    <label asp-for="@Model.securityDetails[1].OriginalPurchasePrice" class="col-form-label col-md-3 col-sm-3 label-align">
                                                        Purchase Price/Original Purchase Price
                                                    </label>
                                                    <div class="col-md-6 col-sm-6 ">
                                                        <input asp-for="@Model.securityDetails[1].OriginalPurchasePrice" id="originalPurchasePrice" name="originalPurchasePrice" class="form-control" type="text">
                                                    </div>
                                                </div>

                                                <div class="item form-group">
                                                    <label asp-for="@Model.securityDetails[1].AddressForPropertyOfSecurity" class="col-form-label col-md-3 col-sm-3 label-align">
                                                        Address for property to be used as security
                                                    </label>
                                                    <div class="col-md-6 col-sm-6 ">
                                                        <input asp-for="@Model.securityDetails[1].AddressForPropertyOfSecurity" id="addressForPropertyOfSecurity" name="addressForPropertyOfSecurity" class="form-control" type="text">
                                                    </div>
                                                </div>
                                                <div class="item form-group">
                                                    <label asp-for="@Model.securityDetails[1].SecondLineAddress" class="col-form-label col-md-3 col-sm-3 label-align">
                                                        Second Line Address
                                                    </label>
                                                    <div class="col-md-6 col-sm-6 ">
                                                        <input asp-for="@Model.securityDetails[1].SecondLineAddress" id="secondLineAddress" name="secondLineAddress" class="form-control" type="text">
                                                    </div>
                                                </div>
                                                <div class="item form-group">
                                                    <label asp-for="@Model.securityDetails[1].City" class="col-form-label col-md-3 col-sm-3 label-align">
                                                        City
                                                    </label>
                                                    <div class="col-md-6 col-sm-6 ">
                                                        <input asp-for="@Model.securityDetails[1].City" id="city" name="city" class="form-control" type="text">
                                                    </div>
                                                </div>
                                                <div class="item form-group">
                                                    <label asp-for="@Model.securityDetails[1].PostCode" class="col-form-label col-md-3 col-sm-3 label-align">
                                                        Post Code
                                                    </label>
                                                    <div class="col-md-6 col-sm-6 ">
                                                        <input asp-for="@Model.securityDetails[1].PostCode" id="PostCode" name="PostCode" class="form-control" type="text">
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="modal-footer">
                                                <a asp-controller="AppBusniessFinance" asp-action="AddSecurity" id="AddPropertyBtn" class="btn btn-primary mr-1">Save</a>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>




                            @*FCA Regulation*@

                            <div class="x_title">
                                <h2>FCA Regulation</h2>

                                <div class="clearfix"></div>
                            </div>

                            <div class="item form-group">
                                <label asp-for="FCA_RegulatedLoan" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Is this an FCA regulated loan?
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <select asp-for="FCA_RegulatedLoan" id="fCA_RegulatedLoan" name="fCA_RegulatedLoan" class="form-control">
                                        <option>
                                            YES
                                        </option>
                                        <option>
                                            NO
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="WillApplicantOrFamilyMemOwn40PercentOfSecurityatmortgageTime" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Will the applicant or a close family relative occupy more than 40% of the proposed security at any time during the term of the mortgage?
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <select asp-for="WillApplicantOrFamilyMemOwn40PercentOfSecurityatmortgageTime" id="willApplicantOrFamilyMemOwn40PercentOfSecurityatmortgageTime" name="willApplicantOrFamilyMemOwn40PercentOfSecurityatmortgageTime" class="form-control">
                                        <option>
                                            YES
                                        </option>
                                        <option>
                                            NO
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="EverLivedinThisProperty" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Has the applicant ever lived in this property?
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <select asp-for="EverLivedinThisProperty" id="everLivedinThisProperty" name="everLivedinThisProperty" class="form-control">
                                        <option>
                                            YES
                                        </option>
                                        <option>
                                            NO
                                        </option>
                                    </select>
                                </div>
                            </div>

                            @*Accountant*@
                            <div class="x_title">
                                <h2>Accountant</h2>

                                <div class="clearfix"></div>
                            </div>

                            <div class="item form-group">
                                <label asp-for="AccountantName" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Name<span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="AccountantName" id="accountantName" name="accountantName" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="AccountantCompany" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Company<span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="AccountantCompany" id="accountantCompany" name="accountantCompany" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="AccountantPhoneNo" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Phone No<span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="AccountantPhoneNo" id="accountantPhoneNo" name="accountantPhoneNo" class="form-control" type="text">

                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="AccountantEmail" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Email<span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="AccountantEmail" id="accountantEmail" name="accountantEmail" class="form-control" type="text">

                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="AccountantAddress" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Address<span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="AccountantAddress" id="accountantAddress" name="accountantAddress" class="form-control" type="text">

                                </div>
                            </div>

                            @*Submit Buttons*@
                            <div class="ln_solid"></div>
                            <div class="item form-group">
                                <div class="col-md-6 col-sm-6 offset-md-3">
                                    <button class="btn btn-primary" type="button">Cancel</button>
                                    <button class="btn btn-primary" type="reset">Save</button>
                                    <button type="submit" class="btn btn-success">Submit Application</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>

        var PlaceHolderElement = $('#PlaceHolderHere');

        $('button[data-toggle="ajax-modal" ]').click(function (event) {
            alert("Hello");
            var url = $(this).data('url');
            $.get(url).done(function (data) {
                PlaceHolderElement.html(data);
                PlaceHolderElement.find('.modal').modal('show');
            })

        })


        //$(document).ready(function () {

        //    $("#AddSecuritybtn").on('click', function () {
        //        alert("button");
        //    });
        //});


    </script>
</div>

