@model AppBusniessFinanceSecurityDetails

@{
    ViewBag.Title = "Edit Busnies Finance Security Details";
}

<div class="" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Busniess Finance Application</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Edit Security Details</h2>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <form id="EditSecurityDetailsForm" data-parsley-validate class="form-horizontal form-label-left" asp-controller="AppBusniessFinance" asp-action="EditSecurityDetail" method="post">

                            <input hidden asp-for="SecurityDetailsId" />


                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="@Model.Notes">
                                    Notes <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input type="text" asp-for="@Model.Notes" id="notes" name="notes" required="required" class="form-control ">
                                </div>
                            </div>

                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="@Model.LegalChargeOverProperty">
                                    If Legal charge over property <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <select asp-for="@Model.LegalChargeOverProperty" id="legalChargeOverProperty" name="legalChargeOverProperty" class=" form-control">
                                        <option>
                                            NO
                                        </option>
                                        <option>
                                            YES
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="@Model.SecurityType">
                                    Security Type<span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <select asp-for="@Model.SecurityType" id="securityType" name="securityType" class=" form-control">
                                        <option>
                                            Residential
                                        </option>
                                        <option>
                                            Commercial
                                        </option>
                                        <option>
                                            Semi-commercial
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="@Model.PropertyType" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Property Type <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input type="text" asp-for="@Model.PropertyType" id="propertyType" name="propertyType" required="required" class="form-control">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="@Model.NameOfPropertyOwner" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Name Of Property Owner
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="@Model.NameOfPropertyOwner" id="nameOfPropertyOwner" name="nameOfPropertyOwner" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="@Model.Tenure" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Tenure
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <select asp-for="@Model.Tenure" id="Tenure" name="Tenure" class=" form-control">
                                        <option>
                                            Freehold
                                        </option>
                                        <option>
                                            Leasehold
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="@Model.YearsRemainingOnLeaseIfLeaseHold" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Years Remaining On Lease(If Leasehold)
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="@Model.YearsRemainingOnLeaseIfLeaseHold" id="YearsRemainingOnLeaseIfLeaseHold" name="percentageShareholding" class="form-control" type="text">
                                </div>
                            </div>

                            <div class="item form-group">
                                <label asp-for="@Model.PropertyValue" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Property Value
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="@Model.PropertyValue" id="propertyValue" name="propertyValue" class="form-control" type="text">
                                </div>
                            </div>

                            <div class="item form-group">
                                <label asp-for="@Model.OriginalPurchasePrice" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Purchase Price/Original Purchase Price
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="@Model.OriginalPurchasePrice" id="originalPurchasePrice" name="originalPurchasePrice" class="form-control" type="text">
                                </div>
                            </div>

                            <div class="item form-group">
                                <label asp-for="@Model.AddressForPropertyOfSecurity" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Address for property to be used as security
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="@Model.AddressForPropertyOfSecurity" id="addressForPropertyOfSecurity" name="addressForPropertyOfSecurity" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="@Model.SecondLineAddress" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Second Line Address
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="@Model.SecondLineAddress" id="secondLineAddress" name="secondLineAddress" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="@Model.City" class="col-form-label col-md-3 col-sm-3 label-align">
                                    City
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="@Model.City" id="city" name="city" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="@Model.PostCode" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Post Code
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="@Model.PostCode" id="PostCode" name="PostCode" class="form-control" type="text">
                                </div>
                            </div>


                            <div class="ln_solid"></div>
                            <div class="item form-group">
                                <div class="col-md-6 col-sm-6 offset-md-3">
                                    <a asp-controller="AppBusniessFinance" asp-action="AppBusniessFinance" class="btn btn-primary">Cancel</a>
                                    @*<a asp-controller="BusniessKeyPrincipals" asp-action="EditKeyPrincipals" class="btn btn-primary">Update</a>*@
                                    @*<button class="btn btn-primary" type="button">Cancel</button>*@
                                    @*<button class="btn btn-primary" type="reset">Save</button>*@
                                    <button type="submit" class="btn btn-success">Update</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>