@model AppDevelopmentFinance

@{
    ViewBag.Title = "App Development Finance";
}
<div class="" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Development Finance Application</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">

                    <div class="x_title">
                        <h2>Additional Loan Details</h2>
                        <div class="clearfix"></div>
                    </div>

                    @*Add Indvidual/Busniess/Lead Button*@
                    <div>
                        <a asp-controller="AppDevelopmentFinance" asp-action="AddIndividual" id="AddBusniessBtn" class="btn btn-primary mr-1">Add Individual</a>
                        <a asp-controller="AppDevelopmentFinance" asp-action="AddBusniess" id="AddBusniessBtn" class="btn btn-success mr-1">Add Business </a>
                        @*<a asp-controller="AppAssetFinance" asp-action="AddLead"  id="leadBtn" class="btn bg-danger mr-1">Add Lead</a>*@
                    </div>
                    <br />

                    @*All Individuals Table*@
                    <div class="x_title">
                        <h2>Individuals</h2>

                        <div class="clearfix"></div>
                    </div>

                    <div class="mtop20">
                        <table id="tblIndividuals" class="table table-bordered table-hover table-striped">
                            <thead class="thead-light">
                                <tr>
                                    <th id="id">Id</th>
                                    <th id="IndividualName" class="hideCol hideHideCol_2">Name</th>

                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                @*@if ((List<AppBusniessFinanceSecurityDetails>)ViewData["SecurityDetailsList"] != null)*@
                                @if (Model.individuals != null)
                                {
                                    @if (Model.individuals.Count != 0)
                                    {
                                        @foreach (var individual in Model.individuals)

                                        {
                                            var tm = "#myModal" + individual.IndividualId;
                                            var mid = "myModal" + individual.IndividualId;
                                            <tr>
                                                <td>@individual.IndividualId</td>
                                                @*<td>Temporary Field</td>*@
                                                <td>@individual.personalDetails.FirstName</td>

                                                <td>
                                                    <a asp-controller="AppDevelopmentFinance" asp-action="EditIndividual" asp-route-Id="@individual.IndividualId" id="AddIndividualPersonalDetails" class="btn btn-primary btn-sm">
                                                        Default
                                                    </a>

                                                </td>

                                                <td>
                                                    <button type="button" style="width:80px;" class="btn btn-danger btn-sm" data-toggle="modal" data-target="@tm">
                                                        Delete
                                                    </button>

                                                    @*Delete Model for Individual*@
                                                    <div class="modal fade" id="@mid" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>*@
                                                                    <h4 class="modal-title text-center" id="myModalLabel">Delete Individual</h4>
                                                                    <button type="button" class="close " data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    Are you sure want to delete this Individual?
                                                                </div>
                                                                <div class="modal-footer">

                                                                    <a asp-controller="AppDevelopmentFinance" asp-action="DeleteIndividual" asp-route-Id="@individual.IndividualId" id="deleteBtn" class="btn bg-danger mr-1">Delete</a>
                                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <br />

                    @*All Busniess Table*@

                    <div class="x_title">
                        <h2>Businesses</h2>

                        <div class="clearfix"></div>
                    </div>

                    <div class="mtop20">
                        <table id="tblBusniesses" class="table table-bordered table-hover table-striped">
                            <thead class="thead-light">
                                <tr>
                                    <th id="id">Id</th>
                                    <th id="CompanyName" class="hideCol hideHideCol_2">Company</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.busniesses != null)
                                {
                                    @*@if ((List<AppBusniessFinanceSecurityDetails>)ViewData["SecurityDetailsList"] != null)*@
                                    @if (Model.busniesses.Count != 0)
                                    {
                                        @foreach (var busniess in Model.busniesses)

                                        {
                                            var tm = "#myModal" + busniess.BusniessId;
                                            var mid = "myModal" + busniess.BusniessId;
                                            <tr>
                                                <td>@busniess.BusniessId</td>
                                                @*<td>Temporary field</td>*@
                                                <td>@busniess.busniessDetails.CompanyBusniessName</td>

                                                <td>
                                                    <a asp-controller="AppDevelopmentFinance" asp-action="EditBusniess" asp-route-Id="@busniess.BusniessId" id="AddIndividualPersonalDetails" class="btn btn-primary btn-sm">
                                                        Default
                                                    </a>

                                                </td>

                                                <td>
                                                    <button type="button" style="width:80px;" class="btn btn-danger btn-sm" data-toggle="modal" data-target="@tm">
                                                        Delete
                                                    </button>

                                                    @*Delete Model for Individual*@
                                                    <div class="modal fade" id="@mid" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>*@
                                                                    <h4 class="modal-title text-center" id="myModalLabel">Delete Individual</h4>
                                                                    <button type="button" class="close " data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    Are you sure want to delete this Busniess?
                                                                </div>
                                                                <div class="modal-footer">

                                                                    <a asp-controller="AppDevelopmentFinance" asp-action="DeleteBusniess" asp-route-Id="@busniess.BusniessId" id="deleteBtn" class="btn bg-danger mr-1">Delete</a>
                                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>

                    <br />
                    @*Development Details*@
                    @*<div class="x_title">
                        <h2>Development Details</h2>
                        <div class="clearfix"></div>
                    </div>*@
                    <div class="x_content">
                        <br />
                        <form id="AppDevelopmentFinanceForm" data-parsley-validate class="form-horizontal form-label-left" asp-controller="AppDevelopmentFinance" asp-action="AppDevelopmentFinance" method="post">

                            @*Security Details table*@
                            <div class="x_title">
                                <h2>Security Details</h2>
                                <div class="clearfix"></div>
                            </div>
                            @*Security Detail Button*@
                            <div class="mtop20">
                                <button type="button" class="btn btn-success" data-toggle="ajax-modal" id="AddSecuritybtn" name="AddSecuritybtn"
                                        data-target="#AddSecurityDetailModalDevelopment" data-url="@Url.Action("AddSecurityDetail")">
                                    Add New Security Details
                                </button>
                            </div>
                            @*Security Detail Modal*@
                            <div class="mtop20">
                                <table id="tblSecurityDetails" class="table table-bordered table-hover table-striped">
                                    <thead class="thead-light">
                                        <tr>
                                            <th id="id">Id</th>
                                            <th id="propertyType" class="hideCol hideHideCol_2">Description Of Property</th>
                                            <th id="pameOfPropertyOwner" class="hideCol hideHideCol_3">Name Of Property Owner</th>
                                            <th id="propertyvalue" class="hideCol hideHideCol_3">City</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.securityDetails != null)
                                        {
                                            @if (Model.securityDetails.Count != 0)
                                            {
                                                @foreach (var securityDetails in Model.securityDetails)

                                                {
                                                    var tm = "#myModal" + securityDetails.SecurityDetailsId;
                                                    var mid = "myModal" + securityDetails.SecurityDetailsId;
                                                    <tr>
                                                        <td>@securityDetails.SecurityDetailsId</td>
                                                        <td>@securityDetails.DescriptionOfProperty</td>
                                                        <td>@securityDetails.NameOfPropertyOwner</td>
                                                        <td>@securityDetails.City</td>

                                                        <td>
                                                            <button type="button" style="width:80px;" class="btn btn-primary btn-sm" data-toggle="Edit-modal" id="EditSecuritybtn" name="EditSecuritybtn"
                                                                    data-target="#EditSecurityDetailModalDevelopment" onclick="EditSecurityOnclick(@securityDetails.SecurityDetailsId)" data-url="@Url.Action("EditSecurityDetail")">
                                                                Edit
                                                            </button>
                                                        </td>

                                                        <td>

                                                            <button type="button" style="width:80px;" class="btn btn-danger btn-sm" data-toggle="modal" data-target="@tm">
                                                                Delete
                                                            </button>


                                                            <div class="modal fade" id="@mid" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                                <div class="modal-dialog">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h4 class="modal-title text-center" id="myModalLabel">Delete Security Detail</h4>
                                                                            <button type="button" class="close " data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            Are you sure want to delete this Security?
                                                                        </div>
                                                                        <div class="modal-footer">

                                                                            <a asp-controller="AppDevelopmentFinance" asp-action="DeleteSecurityDetail" asp-route-Id="@securityDetails.SecurityDetailsId" id="deleteBtn" class="btn bg-danger mr-1">Delete</a>
                                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        }
                                        </tbody>
                                </table>
                            </div>

                            @*Development Details*@
                        <div>
                            <div class="x_title">
                                <h2>Development Details</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="item form-group" hidden >
                                <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="LoanId">
                                    Id
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input type="text" asp-for="LoanId" id="LoanId" name="LoanId" readonly class="form-control">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="PurchasePrice">
                                    Purchase Price
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input type="text" asp-for="PurchasePrice" id="purchasePrice" name="purchasePrice" required="required" class="form-control">
                                </div>
                            </div>

                            <div class="item form-group">
                                <label asp-for="MarketValueOfLand" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Market Value Of Land <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input type="text" asp-for="MarketValueOfLand" id="marketValueOfLand" name="marketValueOfLand" required="required" class="form-control">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="ConstructionCost" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Construction Cost
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="ConstructionCost" id="constructionCost" name="constructionCost" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="TotalDevelopmentCost" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Total Development Cost
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="TotalDevelopmentCost" id="totalDevelopmentCost" name="totalDevelopmentCost" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="GrossDevelopmentValue" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Gross Development Value
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="GrossDevelopmentValue" id="grossDevelopmentValue" name="grossDevelopmentValue" class="form-control" type="text">
                                </div>
                            </div>


                            <div class="item form-group">
                                <label asp-for="LoanAmount" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Loan Amount
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="LoanAmount" id="loanAmount" name="loanAmount" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="LoanTermMonths" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Loan Term (Months)
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="LoanTermMonths" id="loanTermMonths" name="loanTermMonths" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="AmountOfExistingLoanToBe" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Amount Of Existing Loan To Be
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="AmountOfExistingLoanToBe" id="amountOfExistingLoanToBe" name="amountOfExistingLoanToBe" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="TargetCompletionDate" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Target Completion Date
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="TargetCompletionDate" id="TargetCompletionDate" name="TargetCompletionDate" class="date-picker form-control" placeholder="dd-mm-yyyy" type="text" required="required" onfocus="this.type='date'" onmouseover="this.type='date'" onclick="this.type='date'" onblur="this.type='text'" onmouseout="timeFunctionLong(this)">
                                    <script>
                                        function timeFunctionLong(input) {
                                            setTimeout(function () {
                                                input.type = 'text';
                                            }, 60000);
                                        }</script>
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="SourceOfDeposit" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Source Of Deposit
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="SourceOfDeposit" id="sourceOfDeposit" name="sourceOfDeposit" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="ExistStrategy" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Exist Strategy
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="ExistStrategy" id="existStrategy" name="existStrategy" class="form-control" type="text">
                                </div>
                            </div>
                        </div>

                            @*Construction Fee*@

                            <div>
                            <div class="x_title">
                                <h2>Construction Fee</h2>
                                <div class="clearfix"></div>
                            </div>

                            <div class="item form-group">
                                <label asp-for="Demolition" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Demolition
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="Demolition" id="demolition" name="demolition" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="MaterialsCost" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Materials Cost
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="MaterialsCost" id="materialsCost" name="materialsCost" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="GasInstallation" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Gas Installation
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="GasInstallation" id="gasInstallation" name="gasInstallation" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="ElectricInstallation" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Electric Installation
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="ElectricInstallation" id="electricInstallation" name="electricInstallation" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="WaterInstallation" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Water Installation
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="WaterInstallation" id="waterInstallation" name="waterInstallation" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="LandScapingCost" class="col-form-label col-md-3 col-sm-3 label-align">
                                    LandScaping Cost
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="LandScapingCost" id="landScapingCost" name="landScapingCost" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="Labour" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Labour
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="Labour" id="labour" name="labour" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="CIL" class="col-form-label col-md-3 col-sm-3 label-align">
                                    CIL
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="CIL" id="cIL" name="cIL" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="Insert1" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Insert
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="Insert1" id="insert1" name="insert1" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="Insert2" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Insert
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="Insert2" id="insert2" name="insert2" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="Insert3" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Insert
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="Insert3" id="insert3" name="insert3" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="Insert4" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Insert
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="Insert4" id="insert4" name="insert4" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="StampDuty" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Stamp Duty
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="StampDuty" id="stampDuty" name="stampDuty" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="LegalFees" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Legal Fees
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="LegalFees" id="legalFees" name="legalFees" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="OtherCostFinance" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Other Cost (i.e Finance)
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="OtherCostFinance" id="otherCostFinance" name="otherCostFinance" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="TotalCosts" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Total Costs
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="TotalCosts" id="totalCosts" name="totalCosts" class="form-control" type="text">
                                </div>
                            </div>
                        </div>


                            @*Selling Costs*@

                            <div>
                            <div class="x_title">
                                <h2>Selling Cost</h2>
                                <div class="clearfix"></div>
                            </div>

                            <div class="item form-group">
                                <label asp-for="EstateAgentFees" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Estate Agent Fees
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="EstateAgentFees" id="estateAgentFees" name="estateAgentFees" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="LegalFees" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Legal Fees
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="LegalFees" id="legalFees" name="legalFees" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="SellingCosts_Insert1" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Insert
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="SellingCosts_Insert1" id="sellingCosts_Insert1" name="sellingCosts_Insert1" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="SellingCosts_Insert2" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Insert
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="SellingCosts_Insert2" id="sellingCosts_Insert2" name="sellingCosts_Insert2" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="SellingCosts_Total" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Total
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="SellingCosts_Total" id="sellingCosts_Total" name="sellingCosts_Total" class="form-control" type="text">
                                </div>
                            </div>
                        </div>


                            @*Project timescales*@
                        <div>
                            <div class="x_title">
                                <h2>Project Timescales</h2>
                                <div class="clearfix"></div>
                            </div>

                            <div class="item form-group">
                                <label asp-for="Acquistion" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Acquistion
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="Acquistion" id="acquistion" name="acquistion" class="date-picker form-control" placeholder="dd-mm-yyyy" type="text" required="required" onfocus="this.type='date'" onmouseover="this.type='date'" onclick="this.type='date'" onblur="this.type='text'" onmouseout="timeFunctionLong(this)">
                                    <script>
                                        function timeFunctionLong(input) {
                                            setTimeout(function () {
                                                input.type = 'text';
                                            }, 60000);
                                        }</script>
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="PlainingPermission" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Plaining Permission
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="PlainingPermission" id="plainingPermission" name="plainingPermission" class="date-picker form-control" placeholder="dd-mm-yyyy" type="text" required="required" onfocus="this.type='date'" onmouseover="this.type='date'" onclick="this.type='date'" onblur="this.type='text'" onmouseout="timeFunctionLong(this)">
                                    <script>
                                        function timeFunctionLong(input) {
                                            setTimeout(function () {
                                                input.type = 'text';
                                            }, 60000);
                                        }</script>
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="PlainingConditions" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Plaining Conditions
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="PlainingConditions" id="plainingConditions" name="plainingConditions" class="date-picker form-control" placeholder="dd-mm-yyyy" type="text" required="required" onfocus="this.type='date'" onmouseover="this.type='date'" onclick="this.type='date'" onblur="this.type='text'" onmouseout="timeFunctionLong(this)">
                                    <script>
                                        function timeFunctionLong(input) {
                                            setTimeout(function () {
                                                input.type = 'text';
                                            }, 60000);
                                        }</script>
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="StartConstruction" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Start Construction
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="StartConstruction" id="startConstruction" name="startConstruction" class="date-picker form-control" placeholder="dd-mm-yyyy" type="text" required="required" onfocus="this.type='date'" onmouseover="this.type='date'" onclick="this.type='date'" onblur="this.type='text'" onmouseout="timeFunctionLong(this)">
                                    <script>
                                        function timeFunctionLong(input) {
                                            setTimeout(function () {
                                                input.type = 'text';
                                            }, 60000);
                                        }</script>
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="BuildingSignOff" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Building Sign Off
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="BuildingSignOff" id="buildingSignOff" name="buildingSignOff" class="date-picker form-control" placeholder="dd-mm-yyyy" type="text" required="required" onfocus="this.type='date'" onmouseover="this.type='date'" onclick="this.type='date'" onblur="this.type='text'" onmouseout="timeFunctionLong(this)">
                                    <script>
                                        function timeFunctionLong(input) {
                                            setTimeout(function () {
                                                input.type = 'text';
                                            }, 60000);
                                        }</script>
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="SaleLetWholeBuilding" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Sale/Let (Whole Building)
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="SaleLetWholeBuilding" id="saleLetWholeBuilding" name="saleLetWholeBuilding" class="date-picker form-control" placeholder="dd-mm-yyyy" type="text" required="required" onfocus="this.type='date'" onmouseover="this.type='date'" onclick="this.type='date'" onblur="this.type='text'" onmouseout="timeFunctionLong(this)">
                                    <script>
                                        function timeFunctionLong(input) {
                                            setTimeout(function () {
                                                input.type = 'text';
                                            }, 60000);
                                        }</script>
                                </div>
                            </div>
                        </div>
                            @*Development Plan*@
                        <div>
                            <div class="x_title">
                                <h2>Development Plan</h2>

                                <div class="clearfix"></div>
                            </div>

                            <div class="item form-group">
                                <label asp-for="DetailsOfPlainingPermission" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Details Of Plaining Permission<span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="DetailsOfPlainingPermission" id="DetailsOfPlainingPermission" name="DetailsOfPlainingPermission" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="DetailsOfBuildersContrators" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Details Of Builders/Contrators<span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="DetailsOfBuildersContrators" id="detailsOfBuildersContrators" name="detailsOfBuildersContrators" class="form-control" type="text">
                                </div>
                            </div>
                        </div>

                            @*FCA Regulation*@
                        <div>
                            <div class="x_title">
                                <h2>FCA Regulation</h2>

                                <div class="clearfix"></div>
                            </div>

                            <div class="item form-group">
                                <label asp-for="WillApplicantOrFamilyMemOwn40PercentOfSecurityatmortgageTime" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Will the applicant or a close family relative occupy more than 40% of the proposed security at any time during the term of the mortgage?
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <select asp-for="WillApplicantOrFamilyMemOwn40PercentOfSecurityatmortgageTime" id="willApplicantOrFamilyMemOwn40PercentOfSecurityatmortgageTime" name="willApplicantOrFamilyMemOwn40PercentOfSecurityatmortgageTime" class="form-control">
                                        <option>
                                            YES
                                        </option>
                                        <option>
                                            NO
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="item form-group">
                                <label asp-for="EverLivedinThisProperty" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Has the applicant ever lived in this property?
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <select asp-for="EverLivedinThisProperty" id="everLivedinThisProperty" name="everLivedinThisProperty" class="form-control">
                                        <option>
                                            YES
                                        </option>
                                        <option>
                                            NO
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="item form-group">
                                <label asp-for="Notes" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Notes<span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="Notes" id="notes" name="notes" class="form-control" type="text">
                                </div>
                            </div>
                        </div>


                            <div class="ln_solid"></div>
                            <div class="item form-group">
                                <div class="col-md-6 col-sm-6 offset-md-3">
                                    <button class="btn btn-primary" type="button">Cancel</button>
                                    <button class="btn btn-primary" type="reset">Save</button>
                                    <button type="submit" class="btn btn-success">Submit Application</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        @*Related To partial View*@
        <div name="PlaceHolderHere" id="PlaceHolderHere">
            @*<partial name="_AddSecutityDetailBusniessPartialView" />*@
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script>

        var PlaceHolderElement = $('#PlaceHolderHere');

        //Show modal on Add Button click
        $('button[data-toggle="ajax-modal" ]').click(function (event) {

            var url = $(this).data('url');

            $.get(url).done(function (data) {
                PlaceHolderElement.html(data);
                $('#AddSecurityDetailModalDevelopment').modal('show');
                //PlaceHolderElement.find('.modal').modal('show');
            })
        })



        function EditSecurityOnclick(routeId) {
            //alert(String(routeId));

            var url = $('#EditSecuritybtn').data('url') + "/" + routeId;

            $.get(url).done(function (data) {
                PlaceHolderElement.html(data);
                $('#EditSecurityDetailModalDevelopment').modal('show');

            })
        }

        //Save Modal Data Add Security
        PlaceHolderElement.on('click', '[data-save="modal"]', function (event) {

            var form = $('#AddSecurityDetailform');

            var actionurl = form.attr('action');

            var sendData = form.serialize();

            $.post(actionurl, sendData).done(function (data) {
                $('#AddSecurityDetailModalDevelopment').modal('hide');

            })
            window.location.reload();


        })

        //Save Edit Modal Data Add New Security detail
        PlaceHolderElement.on('click', '[data-save="Editmodal"]', function (event) {
            
            var form = $('#EditSecurityDetailform');

            var actionurl = form.attr('action');

            var sendData = form.serialize();

            $.post(actionurl, sendData).done(function (data) {
                $('#EditSecurityDetailModalDevelopment').modal('hide');
            })
            window.location.reload();
        })


    </script>
</div>

