@model AppPropertyFinance

@{
    ViewBag.Title = "App Property Finance";
}
<div class="" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Property Finance Application</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">

                    <div class="x_title">
                        <h2>Additional Loan Details</h2>
                        <div class="clearfix"></div>
                    </div>

                    @*Add Indvidual/Busniess/Lead Button*@
                    <div>
                        <a asp-controller="AppPropertyFinance" asp-action="AddIndividual" id="AddBusniessBtn" class="btn btn-primary mr-1">Add Individual</a>
                        <a asp-controller="AppPropertyFinance" asp-action="AddBusniess" id="AddBusniessBtn" class="btn btn-success mr-1">Add Business </a>
                        @*<a asp-controller="AppAssetFinance" asp-action="AddLead"  id="leadBtn" class="btn bg-danger mr-1">Add Lead</a>*@
                    </div>
                    <br />

                    @*All Individuals Table*@
                    <div class="x_title">
                        <h2>Individuals</h2>

                        <div class="clearfix"></div>
                    </div>

                    <div class="mtop20">
                        <table id="tblIndividuals" class="table table-bordered table-hover table-striped">
                            <thead class="thead-light">
                                <tr>
                                    <th id="id">Id</th>
                                    <th id="IndividualName" class="hideCol hideHideCol_2">Name</th>

                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                @*@if ((List<AppBusniessFinanceSecurityDetails>)ViewData["SecurityDetailsList"] != null)*@
                                @if (Model.individuals != null)
                                {
                                    @if (Model.individuals.Count != 0)
                                    {
                                        @foreach (var individual in Model.individuals)

                                        {
                                            var tm = "#myModal" + individual.IndividualId;
                                            var mid = "myModal" + individual.IndividualId;
                                            <tr>
                                                <td>@individual.IndividualId</td>
                                                @*<td>Temporary Field</td>*@
                                                <td>@individual.personalDetails.FirstName</td>

                                                <td>
                                                    <a asp-controller="AppPropertyFinance" asp-action="EditIndividual" asp-route-Id="@individual.IndividualId" id="AddIndividualPersonalDetails" class="btn btn-primary btn-sm">
                                                        Default
                                                    </a>

                                                </td>

                                                <td>
                                                    <button type="button" style="width:80px;" class="btn btn-danger btn-sm" data-toggle="modal" data-target="@tm">
                                                        Delete
                                                    </button>

                                                    @*Delete Model for Individual*@
                                                    <div class="modal fade" id="@mid" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>*@
                                                                    <h4 class="modal-title text-center" id="myModalLabel">Delete Individual</h4>
                                                                    <button type="button" class="close " data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    Are you sure want to delete this Individual?
                                                                </div>
                                                                <div class="modal-footer">

                                                                    <a asp-controller="AppPropertyFinance" asp-action="DeleteIndividual" asp-route-Id="@individual.IndividualId" id="deleteBtn" class="btn bg-danger mr-1">Delete</a>
                                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <br />

                    @*All Busniess Table*@

                    <div class="x_title">
                        <h2>Businesses</h2>

                        <div class="clearfix"></div>
                    </div>

                    <div class="mtop20">
                        <table id="tblBusniesses" class="table table-bordered table-hover table-striped">
                            <thead class="thead-light">
                                <tr>
                                    <th id="id">Id</th>
                                    <th id="CompanyName" class="hideCol hideHideCol_2">Company</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.busniesses != null)
                                {
                                    @*@if ((List<AppBusniessFinanceSecurityDetails>)ViewData["SecurityDetailsList"] != null)*@
                                    @if (Model.busniesses.Count != 0)
                                    {
                                        @foreach (var busniess in Model.busniesses)

                                        {
                                            var tm = "#myModal" + busniess.BusniessId;
                                            var mid = "myModal" + busniess.BusniessId;
                                            <tr>
                                                <td>@busniess.BusniessId</td>
                                                @*<td>Temporary field</td>*@
                                                <td>@busniess.busniessDetails.CompanyBusniessName</td>

                                                <td>
                                                    <a asp-controller="AppPropertyFinance" asp-action="EditBusniess" asp-route-Id="@busniess.BusniessId" id="AddIndividualPersonalDetails" class="btn btn-primary btn-sm">
                                                        Default
                                                    </a>

                                                </td>

                                                <td>
                                                    <button type="button" style="width:80px;" class="btn btn-danger btn-sm" data-toggle="modal" data-target="@tm">
                                                        Delete
                                                    </button>

                                                    @*Delete Model for Individual*@
                                                    <div class="modal fade" id="@mid" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>*@
                                                                    <h4 class="modal-title text-center" id="myModalLabel">Delete Individual</h4>
                                                                    <button type="button" class="close " data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    Are you sure want to delete this Busniess?
                                                                </div>
                                                                <div class="modal-footer">

                                                                    <a asp-controller="AppPropertyFinance" asp-action="DeleteBusniess" asp-route-Id="@busniess.BusniessId" id="deleteBtn" class="btn bg-danger mr-1">Delete</a>
                                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>

                    <br />
                    @*Loan Details*@
                    <div class="x_title">
                        <h2>Loan Details</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <form id="AppPropertyFinanceForm" data-parsley-validate class="form-horizontal form-label-left" asp-controller="AppPropertyFinance" asp-action="AppPropertyFinance" method="post">

                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="LoanPurpose">
                                    Loan Purpose
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <select asp-for="LoanPurpose" id="loanPurpose" name="loanPurpose" class="form-control">
                                        <option>
                                            Commercial mortgage
                                        </option>
                                        <option>
                                            Buy to let (residential/commercial)
                                        </option>
                                        <option>
                                            Property development
                                        </option>
                                        <option>
                                            Bridging loan
                                        </option>
                                        <option>
                                            Unsecured finance
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="item form-group">
                                <label asp-for="LoanAmount" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Loan Amount <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input type="text" asp-for="LoanAmount" id="loanAmount" name="loanAmount" required="required" class="form-control">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="RateType" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Rate Type
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <select asp-for="RateType" id="RateType" name="RateType" class="form-control">
                                        <option>
                                            Fixed rate
                                        </option>
                                        <option>
                                            Variable rate
                                        </option>
                                        <option>
                                            Any
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="RepaymentType" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Repayment Type
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <select asp-for="RepaymentType" id="repaymentType" name="repaymentType" class="form-control">
                                        <option>
                                            Capital & interest
                                        </option>
                                        <option>
                                            Interest only
                                        </option>
                                        <option>
                                            Part & part
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="RepaymentTermMonths" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Repayment Term(Months)
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="RepaymentTermMonths" id="repaymentTermMonths" name="repaymentTermMonths" class="form-control" type="text">
                                </div>
                            </div>


                            <div class="item form-group">
                                <label asp-for="TargetCompletionDate" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Target Completion Date
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="TargetCompletionDate" id="targetCompletionDate" name="targetCompletionDate" class="date-picker form-control" placeholder="dd-mm-yyyy" type="text" required="required" onfocus="this.type='date'" onmouseover="this.type='date'" onclick="this.type='date'" onblur="this.type='text'" onmouseout="timeFunctionLong(this)">
                                    <script>
                                        function timeFunctionLong(input) {
                                            setTimeout(function () {
                                                input.type = 'text';
                                            }, 60000);
                                        }</script>
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="BrokerFee" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Broker Fee
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="BrokerFee" id="brokerFee" name="brokerFee" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="SourceOfDeposit" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Source Of Deposit
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="SourceOfDeposit" id="sourceOfDeposit" name="sourceOfDeposit" class="form-control" type="text">
                                </div>
                            </div>



                            @*Security Details table will come here*@


                            <div class="x_title">
                                <h2>Security Details</h2>

                                <div class="clearfix"></div>
                            </div>


                            <div class="mtop20">
                                @*<button type="button" class="btn btn-success" data-toggle="modal" data-target="#createSecurityDetailModal">Add New Security Details</button>*@
                                @*Razor Modal POP Button*@
                                <button type="button" class="btn btn-success" data-toggle="ajax-modal" id="AddSecuritybtn" name="AddSecuritybtn"
                                        data-target="#AddSecurityDetailModalProperty" data-url="@Url.Action("AddSecurityDetail")">
                                    Add New Security Details
                                </button>
                            </div>

                            <div class="mtop20">
                                <table id="tblSecurityDetails" class="table table-bordered table-hover table-striped">
                                    <thead class="thead-light">
                                        <tr>
                                            <th id="id">Id</th>
                                            <th id="propertyType" class="hideCol hideHideCol_2">Property Type</th>
                                            <th id="pameOfPropertyOwner" class="hideCol hideHideCol_3">Name Of Property Owner</th>
                                            <th id="propertyvalue" class="hideCol hideHideCol_3">City</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @*@if ((List<AppPropertyFinanceSecurityDetails>)ViewData["SecurityDetailsList"] != null)*@
                                        @if (Model.securityDetails.Count != 0)
                                        {
                                            @foreach (var securityDetails in Model.securityDetails)

                                            {
                                                var tm = "#myModal" + securityDetails.SecurityDetailsId;
                                                var mid = "myModal" + securityDetails.SecurityDetailsId;
                                                <tr>
                                                    <td>@securityDetails.SecurityDetailsId</td>
                                                    <td>@securityDetails.PropertyType</td>
                                                    <td>@securityDetails.NameOfPropertyOwner</td>
                                                    <td>@securityDetails.City</td>

                                                    <td>
                                                        @*<a asp-controller="AppPropertyFinance" asp-action="EditSecuritydetail"
                                            class="btn btn-primary " asp-route-id="@securityDetails.SecurityDetailsId">Edit</a></td>*@
                                                        <button type="button" style="width:80px;" class="btn btn-primary btn-sm" data-toggle="Edit-modal" id="EditSecuritybtn" name="EditSecuritybtn"
                                                                data-target="#EditSecurityDetailModalDevelopment" onclick="EditSecurityOnclick(@securityDetails.SecurityDetailsId)" data-url="@Url.Action("EditSecurityDetail")">
                                                            Edit
                                                        </button>
                                                    <td>

                                                        <button type="button" style="width:80px;" class="btn btn-danger btn-sm" data-toggle="modal" data-target="@tm">
                                                            Delete
                                                        </button>


                                                        <div class="modal fade" id="@mid" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>*@
                                                                        <h4 class="modal-title text-center" id="myModalLabel">Delete Security Detail</h4>
                                                                        <button type="button" class="close " data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        Are you sure want to delete this Security?
                                                                    </div>
                                                                    <div class="modal-footer">

                                                                        <a asp-controller="AppPropertyFinance" asp-action="DeleteSecurityDetail" asp-route-Id="@securityDetails.SecurityDetailsId" id="deleteBtn" class="btn bg-danger mr-1">Delete</a>
                                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>

                            </div>


                            @*FCA Regulation*@
                            <div class="x_title">
                                <h2>FCA Regulations</h2>

                                <div class="clearfix"></div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="FCA_RegulatedLoan" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Is this an FCA regulated loan?
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <select asp-for="FCA_RegulatedLoan" id="fCA_RegulatedLoan" name="fCA_RegulatedLoan" class="form-control">
                                        <option>
                                            YES
                                        </option>
                                        <option>
                                            NO
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="WillApplicantOrFamilyMemOwn40PercentOfSecurityatmortgageTime" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Will the applicant or a close family relative occupy more than 40% of the proposed security at any time during the term of the mortgage?
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <select asp-for="WillApplicantOrFamilyMemOwn40PercentOfSecurityatmortgageTime" id="willApplicantOrFamilyMemOwn40PercentOfSecurityatmortgageTime" name="willApplicantOrFamilyMemOwn40PercentOfSecurityatmortgageTime" class="form-control">
                                        <option>
                                            YES
                                        </option>
                                        <option>
                                            NO
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="item form-group">
                                <label asp-for="EverLivedinThisProperty" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Has the applicant ever lived in this property?
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <select asp-for="EverLivedinThisProperty" id="everLivedinThisProperty" name="everLivedinThisProperty" class="form-control">
                                        <option>
                                            YES
                                        </option>
                                        <option>
                                            NO
                                        </option>
                                    </select>
                                </div>
                            </div>


                            @*Accountant*@
                            <div class="x_title">
                                <h2>Accountant</h2>

                                <div class="clearfix"></div>
                            </div>

                            <div class="item form-group">
                                <label asp-for="AccountantName" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Name<span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="AccountantName" id="accountantName" name="accountantName" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="AccountantCompany" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Company<span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="AccountantCompany" id="accountantCompany" name="accountantCompany" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="AccountantPhoneNo" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Phone No<span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="AccountantPhoneNo" id="accountantPhoneNo" name="accountantPhoneNo" class="form-control" type="text">

                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="AccountantEmail" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Email<span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="AccountantEmail" id="accountantEmail" name="accountantEmail" class="form-control" type="text">

                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="AccountantAddress" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Address<span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="AccountantAddress" id="accountantAddress" name="accountantAddress" class="form-control" type="text">

                                </div>
                            </div>


                            @*Solicitor*@
                            <div class="x_title">
                                <h2>Solicitor</h2>

                                <div class="clearfix"></div>
                            </div>

                            <div class="item form-group">
                                <label asp-for="SolicitorName" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Solicitor Name
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="SolicitorName" id="solicitorName" name="solicitorName" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="SolicitorCompany" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Company
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="SolicitorCompany" id="solicitorCompany" name="solicitorCompany" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="SolicitorPhoneNo" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Phone No
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="SolicitorPhoneNo" id="solicitorPhoneNo" name="solicitorPhoneNo" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="SolicitorEmail" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Email
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="SolicitorEmail" id="solicitorEmail" name="solicitorEmail" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="SolicitorAddress" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Address
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="SolicitorAddress" id="solicitorAddress" name="solicitorAddress" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="SolicitorDXnumber" class="col-form-label col-md-3 col-sm-3 label-align">
                                    DX number
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="SolicitorDXnumber" id="SolicitorDXnumber" name="SolicitorDXnumber" class="form-control" type="text">
                                </div>
                            </div>




                            <div class="ln_solid"></div>
                            <div class="item form-group">
                                <div class="col-md-6 col-sm-6 offset-md-3">
                                    <button class="btn btn-primary" type="button">Cancel</button>
                                    <button class="btn btn-primary" type="reset">Save</button>
                                    <button type="submit" class="btn btn-success">Submit Application</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        @*Related To partial View*@
        <div name="PlaceHolderHere" id="PlaceHolderHere">
            @*<partial name="_AddSecutityDetailBusniessPartialView" />*@
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script>

        var PlaceHolderElement = $('#PlaceHolderHere');

        //Show modal on Add Button click
        $('button[data-toggle="ajax-modal" ]').click(function (event) {

            var url = $(this).data('url');

            $.get(url).done(function (data) {
                PlaceHolderElement.html(data);
                $('#AddSecurityDetailModalProperty').modal('show');
                //PlaceHolderElement.find('.modal').modal('show');
            })
        })


        //Edit security detail button click
        function EditSecurityOnclick(routeId) {

            var url = $('#EditSecuritybtn').data('url') + "/" + routeId;

            $.get(url).done(function (data) {
                PlaceHolderElement.html(data);
                $('#EditSecurityDetailModalProperty').modal('show');

            })
        }

        //Save Modal Data Add New Security detail
        PlaceHolderElement.on('click', '[data-save="modal"]', function (event) {

            var form = $('#AddSecurityDetailform');

            var actionurl = form.attr('action');

            var sendData = form.serialize();

            $.post(actionurl, sendData).done(function (data) {
                $('#AddSecurityDetailModalProperty').modal('hide');

            })



        })



    </script>
</div>
