@model IEnumerable<PropertySchedule>

@{
    ViewBag.Title = "Individual All Property Schedule";
}
@*<form id="IndividualPropertyScheduleForm" data-parsley-validate class="form-horizontal form-label-left" asp-controller="IndividualPropertySchedule" asp-action="PropertySchedule" method="post">*@
    <div class="mtop20">
        <input type="button" class="btn btn-primary" id="btnAddProd" value="Add New Property Schedule" onclick="@("window.location.href='" + @Url.Action("PropertySchedule", "IndividualPropertySchedule") + "'");" />
    </div>

    </>

    <div class="mtop20">
        <table id="tblProdinfo" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th id="cname">Property ID</th>
                    <th id="pname" class="hideCol hideHideCol_2">Owner Name</th>
                    <th id="pprice" class="hideCol hideHideCol_3">Address</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() > 0)
                {
                    @foreach (var propertySchedule in Model)
                    {
                <tr>
                    <td>@propertySchedule.PropertyId</td>
                    <td>@propertySchedule.Owner</td>
                    <td>@propertySchedule.PropertyAddress</td>

                    <td id="txtCName_@propertySchedule.PropertyId.ToString()" style="display:none;"><input type='text' id="txtCName_@propertySchedule.PropertyId.ToString()" value="@propertySchedule.PropertyId" /></td>
                    <td id="txtPName_@propertySchedule.PropertyId.ToString()" style="display:none;"><input type='text' id="txtPName_@propertySchedule.PropertyId.ToString()" value="@propertySchedule.Owner" /></td>
                    <td id="txtPPrice_@propertySchedule.PropertyId.ToString()" style="display:none;" ><input type='text' id="txtPPrice_@propertySchedule.PropertyId.ToString()" value="@propertySchedule.PropertyAddress" /></td>


                    <td>
                        <input type="button" class="btn btn-primary" id="btnEditProd_@propertySchedule.PropertyId.ToString()" value="Edit" onclick="editRowProductData(@propertySchedule.PropertyId.ToString())" />

                        <input type="button" class="btn btn-primary" id="btnUpdateProd_@propertySchedule.PropertyId.ToString()" value="Update" onclick="saveProdData(@propertySchedule.PropertyId.ToString(),@propertySchedule.PropertyId.ToString())" style="display:none;" />

                        <input type="button" class="btn btn-primary" id="btnDeleteProd_@propertySchedule.PropertyId.ToString()" value="Delete" onclick="deleteProdData(@propertySchedule.PropertyId.ToString(),@propertySchedule.PropertyId.ToString())" />

                        <input type="button" class="btn btn-primary" id="btnCancelProd_@propertySchedule.PropertyId.ToString()" value="Cancel" onclick="removeProdData(@propertySchedule.PropertyId)" style="display:none;" />
                    </td>
                </tr>
                    }
                }


            </tbody>
        </table>



    </div>
