@model IEnumerable<PropertySchedule>

@{
    ViewBag.Title = "Individual All Property Schedule";
}
@*<form id="IndividualPropertyScheduleForm" data-parsley-validate class="form-horizontal form-label-left" asp-controller="IndividualPropertySchedule" asp-action="AllProperties" method="post">*@

    <div class="mtop20">
        <a asp-controller="IndividualPropertySchedule" asp-action="PropertySchedule" class="btn btn-primary">Add New Property Schedule</a>
        @*<input type="button" asp-controller="IndividualPropertySchedule" asp-action="PropertySchedule" class="btn btn-primary" id="btnAddProd" value="Add New Property Schedule" />*@
    </div>

    

    <div class="mtop20">
        <table id="tblProdinfo" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th id="cname">Property ID</th>
                    <th id="pname" class="hideCol hideHideCol_2">Owner Name</th>
                    <th id="pprice" class="hideCol hideHideCol_3">Address</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() > 0)
                {
                    @foreach (var propertySchedule in Model)

                    {
                        var tm = "#myModal" + propertySchedule.PropertyId;
                        var mid = "myModal" + propertySchedule.PropertyId;
                        <tr>
                            <td>@propertySchedule.PropertyId</td>
                            <td>@propertySchedule.Owner</td>
                            <td>@propertySchedule.PropertyAddress</td>

                            <td id="txtCName_@propertySchedule.PropertyId.ToString()" style="display:none;"><input type='text' id="txtCName_@propertySchedule.PropertyId.ToString()" value="@propertySchedule.PropertyId" /></td>
                            <td id="txtPName_@propertySchedule.PropertyId.ToString()" style="display:none;"><input type='text' id="txtPName_@propertySchedule.PropertyId.ToString()" value="@propertySchedule.Owner" /></td>
                            <td id="txtPPrice_@propertySchedule.PropertyId.ToString()" style="display:none;"><input type='text' id="txtPPrice_@propertySchedule.PropertyId.ToString()" value="@propertySchedule.PropertyAddress" /></td>


                            <td>
                                <a asp-controller="IndividualPropertySchedule" asp-action="EditProperty" class="btn btn-primary" asp-route-id="@propertySchedule.PropertyId">Edit</a>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="@tm">
                                    Delete
                                </button>
                                @*<a asp-controller="IndividualPropertySchedule" asp-action="DeleteProperty" class="btn btn-primary" asp-route-id="@propertySchedule.PropertyId">Delete</a>*@

                                @*<input type="button" class="btn btn-primary" id="btnEditProd_@propertySchedule.PropertyId.ToString()" value="Edit" onclick="editRowProductData(@propertySchedule.PropertyId.ToString())" />

        <input type="button" class="btn btn-primary" id="btnUpdateProd_@propertySchedule.PropertyId.ToString()" value="Update" onclick="saveProdData(@propertySchedule.PropertyId.ToString(),@propertySchedule.PropertyId.ToString())" style="display:none;" />

        <input type="button" class="btn btn-primary" id="btnDeleteProd_@propertySchedule.PropertyId.ToString()" value="Delete" onclick="deleteProdData(@propertySchedule.PropertyId.ToString(),@propertySchedule.PropertyId.ToString())" />

        <input type="button" class="btn btn-primary" id="btnCancelProd_@propertySchedule.PropertyId.ToString()" value="Cancel" onclick="removeProdData(@propertySchedule.PropertyId)" style="display:none;" />*@


                                <div class="modal fade" id="@mid" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>*@
                                                <h4 class="modal-title text-center" id="myModalLabel">Delete Property</h4>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure want to delete this Property Schedule?
                                            </div>
                                            <div class="modal-footer">

                                                <a asp-controller="IndividualPropertySchedule" asp-action="DeleteProperty" asp-route-Id="@propertySchedule.PropertyId" id="deleteBtn" class="btn bg-danger mr-1">Delete</a>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
@*</form>*@
