@model AppAssetFinance

@{
    ViewBag.Title = "App Asset Finance";
}

<div class="" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Asset Finance Application </h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">

                    <div class="x_title">
                        <h2>Additional Loan Details</h2>
                        <div class="clearfix"></div>
                    </div>

                    @*Add Indvidual/Busniess/Lead Button*@
                    <div>
                        <a asp-controller="AppAssetFinance" asp-action="AddIndividual"  id="AddBusniessBtn" class="btn btn-primary mr-1">Add Individual</a>
                        <a asp-controller="AppAssetFinance" asp-action="AddBusniess"  id="AddBusniessBtn" class="btn btn-success mr-1">Add Busniess</a>
                        @*<a asp-controller="AppAssetFinance" asp-action="AddLead"  id="leadBtn" class="btn bg-danger mr-1">Add Lead</a>*@
                    </div>
                    <br />

                    @*All Individuals Table*@

                    <div class="x_title">
                        <h2>Individuals</h2>

                        <div class="clearfix"></div>
                    </div>


                    <div class="mtop20">
                        <table id="tblIndividuals" class="table table-bordered table-hover table-striped">
                            <thead class="thead-light">
                                <tr>
                                    <th id="id">Id</th>
                                    <th id="IndividualName" class="hideCol hideHideCol_2">Name</th>

                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                @*@if ((List<AppBusniessFinanceSecurityDetails>)ViewData["SecurityDetailsList"] != null)*@
                                @if (Model.individuals.Count != 0)
                                {
                                    @foreach (var individual in Model.individuals)

                                    {
                                        var tm = "#myModal" + individual.IndividualId;
                                        var mid = "myModal" + individual.IndividualId;
                                        <tr>
                                            <td>@individual.IndividualId</td>
                                            <td>Temporary Field</td>
                                            @*<td>@individual.personalDetails.FirstName</td>*@

                                        <td>
                                            <a asp-controller="AppAssetFinance" asp-action="AddIndividualPersonalDetails" asp-route-Id="@individual.IndividualId" id="AddIndividualPersonalDetails" class="btn btn-primary btn-sm">
                                                Personal Details
                                            </a>
                                            
                                            <button type="button" class="btn btn-primary btn-sm" id="EditIndividualbtn" name="EditIndividualbtn">
                                                Address
                                            </button>
                                            <button type="button" class="btn btn-primary btn-sm" id="EditIndividualbtn" name="EditIndividualbtn">
                                                Employment
                                            </button>
                                            <button type="button" class="btn btn-primary btn-sm" id="EditIndividualbtn" name="EditIndividualbtn">
                                                Income
                                            </button>
                                            <button type="button" class="btn btn-primary btn-sm" id="EditIndividualbtn" name="EditIndividualbtn">
                                                Expenditure
                                            </button>
                                            <button type="button" class="btn btn-primary btn-sm" id="EditIndividualbtn" name="EditIndividualbtn">
                                                Assets
                                            </button>
                                            <button type="button" class="btn btn-primary btn-sm" id="EditIndividualbtn" name="EditIndividualbtn">
                                                Liabilities
                                            </button>
                                            <button type="button" class="btn btn-primary btn-sm" id="EditIndividualbtn" name="EditIndividualbtn">
                                                Property
                                            </button>
                                            <button type="button" class="btn btn-primary btn-sm" id="EditIndividualbtn" name="EditIndividualbtn">
                                                Credit History
                                            </button>
                                            <button type="button" class="btn btn-primary btn-sm" id="EditIndividualbtn" name="EditIndividualbtn">
                                                Documents
                                            </button>
                                        </td>

                                            <td>
                                                <button type="button" style="width:80px;" class="btn btn-danger btn-sm" data-toggle="modal" data-target="@tm">
                                                    Delete
                                                </button>

                                                @*Delete Model for Individual*@
                                                <div class="modal fade" id="@mid" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>*@
                                                                <h4 class="modal-title text-center" id="myModalLabel">Delete Individual</h4>
                                                                <button type="button" class="close " data-dismiss="modal" aria-hidden="true">&times;</button>
                                                            </div>
                                                            <div class="modal-body">
                                                                Are you sure want to delete this Individual?
                                                            </div>
                                                            <div class="modal-footer">

                                                                <a asp-controller="AppAssetFinance" asp-action="DeleteIndividual" asp-route-Id="@individual.IndividualId" id="deleteBtn" class="btn bg-danger mr-1">Delete</a>
                                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <br />




                    @*All Busniess Table*@

                    <div class="x_title">
                        <h2>Busniess</h2>

                        <div class="clearfix"></div>
                    </div>


                    <div class="mtop20">
                        <table id="tblBusniesses" class="table table-bordered table-hover table-striped">
                            <thead class="thead-light">
                                <tr>
                                    <th id="id">Id</th>
                                    <th id="CompanyName" class="hideCol hideHideCol_2">Company</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                @*@if ((List<AppBusniessFinanceSecurityDetails>)ViewData["SecurityDetailsList"] != null)*@
                                @if (Model.busniesses.Count != 0)
                                {
                                    @foreach (var busniess in Model.busniesses)

                                    {
                                        var tm = "#myModal" + busniess.BusniessId;
                                        var mid = "myModal" + busniess.BusniessId;
                                        <tr>
                                            <td>@busniess.BusniessId</td>
                                            <td>Temporary field</td>
                                            @*<td>@busniess.busniessDetails.CompanyBusniessName</td>*@

                                            <td>
                                                <button type="button"  class="btn btn-primary btn-sm" id="EditIndividualbtn" name="EditIndividualbtn">
                                                    Busniess Details
                                                </button>
                                                <button type="button"  class="btn btn-primary btn-sm" id="EditIndividualbtn" name="EditIndividualbtn">
                                                    Key Principals
                                                </button>
                                                <button type="button"  class="btn btn-primary btn-sm" id="EditIndividualbtn" name="EditIndividualbtn">
                                                    Busniess Liability
                                                </button>
                                                <button type="button"  class="btn btn-primary btn-sm" id="EditIndividualbtn" name="EditIndividualbtn">
                                                    Serviceability
                                                </button>
                                                <button type="button"  class="btn btn-primary btn-sm" id="EditIndividualbtn" name="EditIndividualbtn">
                                                    Documents
                                                </button>
                                            </td>

                                            <td>
                                                <button type="button" style="width:80px;" class="btn btn-danger btn-sm" data-toggle="modal" data-target="@tm">
                                                    Delete
                                                </button>

                                                @*Delete Model for Individual*@
                                                <div class="modal fade" id="@mid" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>*@
                                                                <h4 class="modal-title text-center" id="myModalLabel">Delete Individual</h4>
                                                                <button type="button" class="close " data-dismiss="modal" aria-hidden="true">&times;</button>
                                                            </div>
                                                            <div class="modal-body">
                                                                Are you sure want to delete this Individual?
                                                            </div>
                                                            <div class="modal-footer">

                                                                <a asp-controller="AppAssetFinance" asp-action="DeleteBusniess" asp-route-Id="@busniess.BusniessId" id="deleteBtn" class="btn bg-danger mr-1">Delete</a>
                                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>




                    <br />
                    @*Loan Details Section*@
                    <div class="x_title">
                        <h2>Loan Details</h2>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <form id="AppAssetFinanceForm" data-parsley-validate class="form-horizontal form-label-left" asp-controller="AppAssetFinance" asp-action="AppAssetFinance" method="post">


                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="AssetFinId" >
                                    Id
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input type="text" asp-for="AssetFinId" id="assetFinId" name="assetFinId" readonly class="form-control">

                                </div>
                            </div>

                            <div class="item form-group">
                                <label asp-for="ApplicationType" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Application Type
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <select asp-for="ApplicationType" id="applicationType" name="applicationType" class="form-control">
                                        <option>
                                            Individual
                                        </option>
                                        <option>
                                            Busniess
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="item form-group">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" asp-for="AssetType">
                                    Asset Type
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input type="text" asp-for="AssetType" id="assetType" name="assetType" required="required" class="form-control">

                                </div>
                            </div>

                            <div class="item form-group">
                                <label asp-for="Description" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Description <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input type="text" asp-for="Description" id="description" name="description" required="required" class="form-control">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="PurchasePriceOfAssetValue" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Purchase Price Of Asset Value
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="PurchasePriceOfAssetValue" id="purchasePriceOfAssetValue" name="purchasePriceOfAssetValue" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="Deposit" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Deposit
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="Deposit" id="deposit" name="deposit" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="LoanAmount" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Loan Amount
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="LoanAmount" id="loanAmount" name="loanAmount" class="form-control" type="text">
                                </div>
                            </div>

                            <div class="item form-group">
                                <label asp-for="VATincluded" class="col-form-label col-md-3 col-sm-3 label-align">
                                    VAT Included
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <select asp-for="VATincluded" id="vATincluded" name="vATincluded" class="form-control">
                                        <option>
                                            YES
                                        </option>
                                        <option>
                                            NO
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="RepaymentTermMonths" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Repayment Term Months
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="RepaymentTermMonths" id="repaymentTermMonths" name="repaymentTermMonths" class="form-control" type="text">
                                </div>
                            </div>

                            <div class="item form-group">
                                <label asp-for="BalloonPayment" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Balloon Payment<span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="BalloonPayment" id="balloonPayment" name="balloonPayment" class="form-control" type="text">

                                </div>
                            </div>


                            @*Supplier Details*@
                            <div class="x_title">
                                <h2>Supplier Details</h2>

                                <div class="clearfix"></div>
                            </div>


                            <div class="item form-group">
                                <label asp-for="CompanyName" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Company Name<span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="CompanyName" id="companyName" name="companyName" class="form-control" type="text">

                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="ContactName" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Contact Name<span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="ContactName" id="contactName" name="contactName" class="form-control" type="text">

                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="PhoneNumber" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Phone Number<span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="PhoneNumber" id="phoneNumber" name="phoneNumber" class="form-control" type="text">

                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="Email" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Email<span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="Email" id="email" name="email" class="form-control" type="text">

                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="Address" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Address<span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="Address" id="address" name="address" class="form-control" type="text">

                                </div>
                            </div>
                            <div class="item form-group">
                                <label asp-for="Notes" class="col-form-label col-md-3 col-sm-3 label-align">
                                    Notes<span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input asp-for="Notes" id="notes" name="notes" class="form-control" type="text">

                                </div>
                            </div>



                            <div class="ln_solid"></div>
                            <div class="item form-group">
                                <div class="col-md-6 col-sm-6 offset-md-3">
                                    <button class="btn btn-primary" type="button">Cancel</button>
                                    <button class="btn btn-primary" type="reset">Reset</button>
                                    <button type="submit" class="btn btn-success">Submit Application</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


